GYMSHOP_DB_PASSWORD=ReplaceWithAStrongPassword_123!
GYMSHOP_APP_DB_PASSWORD=ReplaceWithADifferentAppPassword_123!
GYMSHOP_MIGRATION_DB_PASSWORD=ReplaceWithADifferentMigrationPassword_123!
GYMSHOP_JWT_SECRET=ReplaceWithARandomSecretOfAtLeast32Characters
GYMSHOP_MFA_ENCRYPTION_KEY=ReplaceWithBase64OfExactly32RandomBytes
GYMSHOP_GOOGLE_CLIENT_ID=
GYMSHOP_EMAIL_PROVIDER=Mock
GYMSHOP_EMAIL_API_KEY=
GYMSHOP_EMAIL_FROM_ADDRESS=
GYMSHOP_EMAIL_FROM_NAME=Raíz Viva
GYMSHOP_EMAIL_PUBLIC_APP_URL=http://localhost:5173
GYMSHOP_EMAIL_TRANSACTIONAL_NOTIFICATIONS_ENABLED=true
GYMSHOP_EXPOSE_DEVELOPMENT_CODES=false
GYMSHOP_BANK_NAME=
GYMSHOP_BANK_ACCOUNT_HOLDER=
GYMSHOP_BANK_CBU=
GYMSHOP_BANK_ALIAS=
GYMSHOP_BANK_CUIT=
GYMSHOP_BANK_PENDING_ORDER_LIFETIME_HOURS=24
GYMSHOP_SEED_ADMIN_EMAIL=admin@raizviva.demo
GYMSHOP_SEED_ADMIN_NAME=Super Admin
GYMSHOP_SEED_ADMIN_PASSWORD=ReplaceWithALocalAdminPassword_123!
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL_S3=
AWS_REGION=us-east-2
PRODUCT_IMAGE_BUCKET=gymshop-product-images
